/* .linked:hover{
  background-color: #1070dd !important;
  border: 1px solid #1070dd;
  transform: translateY(-8px);
}
.igram:hover{
  background-color: #e1306c !important;
  border:  1px solid #e1306c;
  transform: translateY(-8px);
}
.faceb:hover{
  background-color: #0a9decdc !important;
  border: 1px solid #0a9decdc;
  transform: translateY(-8px);
} */